/* Portfolio Stylesheet */

#portfolio{
    position: relative;
    text-align: center;
    display: grid;
    padding-left: 15%;
    padding-right: 15%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background: #ffffff;
    --primary-color: rgb(0,0,0);
    --secondary-color: rgb(50, 100, 143);
    --teritary-color: rgb(116, 115, 114);
    --primary-text-color: #fff;
}

#portfolio .card{
    position: relative;
    display:inline-block;
    background: var(--secondary-color);
    color: var(--primary-text-color);
    margin: .5rem .5rem 1rem;
    padding: .5rem 1rem 1rem;
    border-radius: 2px;
    transition: top .5s,left .5s;
    height: 200px;
    width: 100%;
}

#portfolio .card:hover {
    position: relative;
    top: -5px;
    left: -5px;
    box-shadow: 5px 5px 5px #969696;
}

#portfolio .card a {
    color: var(--primary-text-color);
    text-decoration: underline;
}

#portfolio .card h1 {
    color: var(--primary-text-color);
    margin: 0 0 0 0;
}

#portfolio .card p {
    color: var(--primary-text-color);
    margin: 0 0 0 0;
}

#projects h1{
    font: 15px/24px 'opensans-semibold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: var(--teritary-color);
}
